.app-menu{
    display: flex;
    flex-direction: wrap;
}

.app-menu_list{
    display: flex;
    list-style: none;
    gap: 25px;
}
.app-menu_item{
    text-decoration: none;
}
.app-menu_link{
    text-decoration: none;
}